@font-face {
    font-family: 'juice';
    src: url('others/orange\ juice\ 2.0.ttf');
}

@font-face {
    font-family: 'fancy1';
    src: url('others/charlotte.ttf');
}

.blob {
color: #eb7d4d;
}

.crime {
    color:  blueviolet;
    font-family: 'juice';
    font-size: 20px;
}

.starting_message {
    font-family: 'fancy1';
    text-align: center;
}